html, body{
	background-image: url("../../assets/images/trueblue.jpg");
}

.jumbotron{
    background-color: cyan ;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
	margin: 10%;
}

.mc{
    font-size: 14px;
}
